@{
    ViewData["Title"] = "Medewerker Overzicht";
}

<!-- Display the generated table -->
<div class="mx-4 mt-4">
    <div class="mt-6 flex flex-row">
        @Html.Raw(ViewBag.HtmlTable)
    </div>
</div>

@{
    if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
    {
        <toast-message toast-id="@TempData["ToastId"]"
                       message="@TempData["ToastMessage"]"
                       message-type="@TempData["ToastType"]">
        </toast-message>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showToast('@TempData["ToastId"]', '@TempData["AutoHide"]', @TempData["MilSecHide"]);
            });
        </script>
    }
}