@model bumbo.ViewModels.UpdateEmployeeViewModel

@{
    ViewData["Title"] = "Medewerker bewerken";
    Layout = "_Layout";
    // ViewData["HideLayoutElements"] = true;
}

<div class="mt-10 p-6 relative mx-auto max-w-2xl rounded">
    <div class="flex">
        <a href="/medewerkers" style="margin-right: 25px">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>

        <h1 class="text-3xl font-semibold">Medewerker bewerken</h1>
    </div>

    <form asp-action="Update" id="update-medewerker" method="post" class="space-y-6">
        <input type="hidden" asp-for="Id" />

        <div class="gap-6 grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label asp-for="FirstName" class="text-gray-700 block text-sm font-medium">Voornaam</label>
                <input asp-for="FirstName" placeholder="John" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="FirstName" class="text-red-600 text-sm"></span>
            </div>

            <div>
                <label asp-for="MiddleName" class="text-gray-700 block text-sm font-medium">Tussenvoegsel</label>
                <input asp-for="MiddleName" placeholder="van" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="MiddleName" class="text-red-600 text-sm"></span>
            </div>
        </div>

        <div class="gap-6 grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label asp-for="LastName" class="text-gray-700 block text-sm font-medium">Achternaam</label>
                <input asp-for="LastName" placeholder="Doe" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="LastName" class="text-red-600 text-sm"></span>
            </div>

            <div>
                <label asp-for="BirthDate" class="text-gray-700 block text-sm font-medium">Geboorte datum</label>
                <input asp-for="BirthDate" type="date" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="BirthDate" class="text-red-600 text-sm"></span>
            </div>
        </div>

        <div class="gap-6 grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label asp-for="PostalCode" class="text-gray-700 block text-sm font-medium">Postcode</label>
                <input asp-for="PostalCode" placeholder="1234AB" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="PostalCode" class="text-red-600 text-sm"></span>
            </div>

            <div>
                <label asp-for="HouseNumber" class="text-gray-700 block text-sm font-medium">Huisnummer</label>
                <input asp-for="HouseNumber" title="Voer een geldig huisnummer in zoals 17 of 17b" placeholder="17 (a)" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="HouseNumber" class="text-red-600 text-sm"></span>
            </div>
        </div>

        <div class="gap-6 grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label asp-for="Email" class="text-gray-700 block text-sm font-medium">E-mailadres</label>
                <input asp-for="Email" type="email" placeholder="johnvandoe@live.nl" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="Email" class="text-red-600 text-sm"></span>
            </div>

            <div>
                <label asp-for="PhoneNumber" class="text-gray-700 block text-sm font-medium">Telefoonnummer</label>
                <input asp-for="PhoneNumber" placeholder="06 12345678" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="PhoneNumber" class="text-red-600 text-sm"></span>
            </div>
        </div>

        <div class="gap-6 grid grid-cols-1 sm:grid-cols-2">
            <div>
                <label asp-for="BID" class="text-gray-700 block text-sm font-medium"></label>
                <input asp-for="BID" placeholder="123456789" class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                <span asp-validation-for="BID" class="text-red-600 text-sm"></span>
            </div>
        </div>

        @if (Model.IsSystemManager)
        {
            <div class="gap-6 grid grid-cols-1 sm:grid-cols-2">
                <div>
                    <label asp-for="IsSystemManager" class="text-gray-700 block text-sm font-medium">Systeembeheerder</label>
                    <input asp-for="IsSystemManager" type="checkbox" class="mt-1 border-gray-300 block rounded-md shadow-sm sm:text-sm" />
                    <span asp-validation-for="IsSystemManager" class="text-red-600 text-sm"></span>
                </div>
            </div>
        }
    </form>

    <div class="mt-6 flex justify-end">
        <default-button button-text="Medewerker verwijderen" button-type="delete" onclick="document.getElementById('deleteEmployeeModal').classList.remove('hidden')" style="margin-right: 10px"></default-button>
        <default-button button-text="Opslaan" button-type="primary" onclick="document.getElementById('update-medewerker').submit()"></default-button>
    </div>

    <custom-modal modal-id="deleteEmployeeModal" body-text="Weet je zeker dat je deze medewerker wilt verwijderen?">
        <form asp-action="DeleteEmployee" method="post" class="inline">
            <input type="hidden" name="EmployeeId" value="@Model.Id" />
            <button type="submit" class="bg-red-600 text-white py-2 px-4 rounded-xl font-semibold hover:bg-red-500">
                Ja
            </button>
        </form>
        <default-button button-text="Nee" button-type="secondary" on-click="document.getElementById('deleteEmployeeModal').classList.add('hidden')"></default-button>
    </custom-modal>

    <h2 class="mt-12 mb-4 text-xl font-semibold">Tijwijzingen filialen</h2>
    @if (Model.BranchAssignments != null && Model.BranchAssignments.Count > 0)
    {
        <div class="overflow-x-auto">
            <table class="min-w-full table-auto border-collapse">
                <thead>
                    <tr class="text-gray-600 text-left font-bold">
                        <th class="py-2 px-4">Filiaal</th>
                        <th class="py-2 px-4">Functie</th>
                        <th class="py-2 px-4">Startdatum</th>
                        <th class="py-2 px-4"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var assignment in Model.BranchAssignments)
                    {
                        <tr class="border-b hover:bg-gray-50">
                            <td class="py-2 px-4">@assignment.BranchName</td>
                            <td class="py-2 px-4">
                                @if (string.IsNullOrEmpty(assignment.FunctionName))
                                {
                                    <span>Geen</span>
                                }
                                else
                                {
                                    @assignment.FunctionName
                                }
                            </td>
                            <td class="py-2 px-4">@assignment.StartDate.ToString("dd-MM-yyyy")</td>
                            <td class="py-2 px-4 flex justify-end">
                                @if (Model.UserManagerOfBranchId == assignment.BranchId)
                                {
                                    <form asp-action="RemoveBranchAssignment" method="post" id="RemoveBranchAssignment">
                                        <input type="hidden" name="EmployeeId" value="@Model.Id" />
                                        <input type="hidden" name="BranchId" value="@assignment.BranchId" />
                                        <default-button button-text="Verwijderen" button-type="delete" on-click="document.getElementById('RemoveBranchAssignment').submit();"></default-button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-gray-500">Geen filiaaltoewijzingen gevonden voor deze medewerker.</p>
    }

    @if (Model.UserManagerOfBranchId != null && !Model.BranchAssignments.Any())
    {
        <form asp-action="AssignBranchToEmployee" method="post" class="mt-6">
            <input type="hidden" name="EmployeeId" value="@Model.Id" />
            <input type="hidden" name="BranchId" value="@Model.UserManagerOfBranchId" />
            <default-button button-text="Voeg filiaal toe" button-type="secondary" typeof="submit"></default-button>
        </form>
    }



</div>