﻿@{
    ViewData["Title"] = "Create";
}

@model bumbo.ViewModels.Prognosis.PrognosisCreateViewModel

<div class="gap-4 mt-20 mx-auto grid max-w-screen-lg grid-cols-3">
    <div class="space-x-2 flex items-center" name="prognoses_title">
        <button class="text-2xl">&#10094;</button>
        <h1 class="text-3xl font-bold">Prognose Aanmaken</h1>
    </div>
</div>

<div class="mt-4 mx-auto max-w-screen-lg">
    <div class="space-x-4 mb-4 flex items-center">
        <div class="flex flex-grow flex-row">
            <input disabled type="text" class="mt-1 p-2 border-gray-300 w-full rounded border" placeholder="@ViewBag.templatename" />
            <button onclick="window.location.href='../prognosis/AddTemplate'" class="mt-6 p-2 bg-green-600 text-white rounded hover:bg-green-700">
                Importeer Standaard Template
            </button>
        </div>
    </div>

    <div class="space-x-4 flex items-center">
        <div class="flex flex-grow flex-col">
            <label class="text-gray-700 block text-sm font-medium">Week</label>
            <input type="text" value="@Model.WeekNr" class="mt-1 p-2 border-gray-300 w-full rounded border" disabled />
        </div>
        <div class="flex flex-grow flex-col">
            <label class="text-gray-700 block text-sm font-medium">Jaar</label>
            <input type="text" value="@Model.Year" class="mt-1 p-2 border-gray-300 w-full rounded border" disabled />
        </div>
        <div class="flex flex-col">
            <button class="mt-6 p-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                Importeer Vorige Week
            </button>
        </div>
    </div>

</div>
@{
    if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
    {
        <toast-message toast-id="@TempData["ToastId"]"
                       message="@TempData["ToastMessage"]"
                       message-type="@TempData["ToastType"]">
        </toast-message>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showToast('@TempData["ToastId"]', '@TempData["AutoHide"]', @TempData["MilSecHide"]);
            });
        </script>
    }
}

<form method="post" action="/Prognosis/CreatePrognosis">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="mt-4 mx-auto max-w-screen-lg">
            <div class="gap-2 grid grid-cols-3">
                <div class="max-w-xs font-bold">Dag</div>
                <div class="max-w-xs font-bold">Aantal Verwachte Klanten</div>
                <div class="max-w-xs font-bold">Aantal Verwachte Collies</div>

                <input name="WeekNr" type="hidden" value="@Model.WeekNr" />
                <input name="Year" type="hidden" value="@Model.Year" />

                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <input type="hidden" name="Days[@i].Name" value="@Model.Days[i].Name" />
                    <div class="max-w-xs">@Model.Days[i].Name</div>

                    <div>
                        <input name="CustomerAmount[@i]" type="number" class="p-1 w-full rounded border" 
                               required>
                    </div>

                    <div>
                        <input name="PackagesAmount[@i]" type="number" class="p-1 w-full rounded border" 
                               required>
                    </div>
                }
            </div>

            <div class="mt-4 space-x-2 flex justify-end">
                <button type="submit" class="bg-blue-500 text-white border-blue-700 p-2 rounded border transition hover:bg-blue-600">
                    Aanmaken
                </button>
            </div>
        </div>
    </fieldset>
</form>
