﻿@{
    ViewData["Title"] = "Create";
}

<div class="gap-4 mt-20 mx-auto grid max-w-screen-lg grid-cols-3">
    <div class="space-x-2 flex items-center" name="prognoses_title">
        <button class="text-2xl">&#10094;</button>
        <h1 class="text-3xl font-bold">Prognose Aanmaken</h1>
    </div>
</div>

<div class="mt-4 mx-auto max-w-screen-lg">
    <!-- Tweede rij met Weeknummer en knop boven de andere invoervelden -->
    <div class="space-x-4 mb-4 flex items-center">
        <div class="flex flex-grow flex-row">
            <input disabled type="text" class="mt-1 p-2 border-gray-300 w-full rounded border" placeholder="@ViewBag.templatename" />
            <button onclick="window.location.href='../prognosis/AddTemplate'" class="mt-6 p-2 bg-green-600 text-white rounded hover:bg-green-700">
                Importeer Standaard Template
            </button>
        </div>
    </div>

    <!-- Eerste rij met Week en Jaar -->
    <div class="space-x-4 flex items-center">
        <div class="flex flex-grow flex-col">
            <label class="text-gray-700 block text-sm font-medium">Week</label>
            <input type="text" value="@ViewBag.CurrentWeek" class="mt-1 p-2 border-gray-300 w-full rounded border" disabled />
        </div>
        <div class="flex flex-grow flex-col">
            <label class="text-gray-700 block text-sm font-medium">Jaar</label>
            <input type="text" value="@ViewBag.CurrentYear" class="mt-1 p-2 border-gray-300 w-full rounded border" disabled />
        </div>
        <div class="flex flex-col">
            <button class="mt-6 p-2 bg-blue-600 text-white rounded hover:bg-blue-700">
                Importeer Vorige Week
            </button>
        </div>
    </div>

</div>
@{
    if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
    {
        <toast-message toast-id="@TempData["ToastId"]"
                       message="@TempData["ToastMessage"]"
                       message-type="@TempData["ToastType"]">
        </toast-message>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                showToast('@TempData["ToastId"]', '@TempData["AutoHide"]', @TempData["MilSecHide"]);
            });
        </script>
    }
}
<form method="post" action="/Prognosis/CreatePrognosis">
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="mt-4 mx-auto max-w-screen-lg">
            <div class="gap-2 grid grid-cols-3">
                <div class="max-w-xs font-bold">Dag</div>
                <div class="max-w-xs font-bold">Aantal Verwachte Klanten</div>
                <div class="max-w-xs font-bold">Aantal Verwachte Collies</div>

                @if (ViewBag.days != null)
                {
                    int count = 0;
                    foreach (var day in ViewBag.days)
                    {
                        @if (ViewBag.daysList != null)
                        {
                            <input name="weeknr" value="@ViewBag.CurrentWeek" type="hidden" />
                            <input name="year" value="@ViewBag.CurrentYear" type="hidden" />

                            <input name="prognosisCreateDaysList[@count].Name" type="hidden" value="@day.Name" />
                            <div class="max-w-xs">@day.Name</div>

                            <div>
                                <!-- value="with this ViewBag.daysList.DaysList[count].CustomerAmount" -->
                                <input name="CustomerAmount[@count]" type="number" class="p-1 w-full rounded border" required>
                            </div>
                            <div>
                                <!-- value="ViewBag.daysList.DaysList[count].Packages" -->
                                <input name="PackagesAmount[@count]" type="number" class="p-1 w-full rounded border" required>
                            </div>
                        }
                        else
                        {
                            <input name="weeknr" value="@ViewBag.CurrentWeek" type="hidden" />
                            <input name="year" value="@ViewBag.CurrentYear" type="hidden" />
                            <input name="prognosisCreateDaysList[@count].Name" type="hidden" value="@day.Name" />
                            <div class="max-w-xs">@day.Name</div>
                            <div>
                                <input name="CustomerAmount[@count]" type="number" class="p-1 w-full rounded border" required>
                            </div>
                            <div>
                                <input name="PackagesAmount[@count]" type="number" class="p-1 w-full rounded border" required>
                            </div>
                        }
                        count++;
                    }
                }
            </div>
            <div class="mt-4 space-x-2 flex justify-end">
                <button type="submit" class="bg-blue-500 text-white border-blue-700 p-2 rounded border transition hover:bg-blue-600">Aanmaken</button>
            </div>
        </div>
    </fieldset>
</form>