@{
    ViewData["Title"] = "Edit";
}

<div class="grid grid-cols-3 gap-4 mt-20 mx-auto max-w-screen-lg">
    <div class="flex items-center space-x-2" name="prognoses_title">
        <button class="text-2xl">&#10094;</button>
        <h1 class="font-bold text-3xl">Prognose Bewerken</h1>
    </div>
</div>

<div class="mt-4 mx-auto max-w-screen-lg">
    <form method="post" action="/Prognosis/Edit/@Model.PrognosisId">
        @Html.AntiForgeryToken()

        <div class="flex items-center space-x-4">
            <div class="flex flex-col flex-grow">
                <label class="block text-sm font-medium text-gray-700">Week</label>
                <input type="text" value="@ViewBag.CurrentWeek" class="mt-1 p-2 border border-gray-300 rounded w-full" disabled />
            </div>
            <div class="flex flex-col flex-grow">
                <label class="block text-sm font-medium text-gray-700">Jaar</label>
                <input type="text" value="@ViewBag.CurrentYear" class="mt-1 p-2 border border-gray-300 rounded w-full" disabled />
            </div>
        </div>

        <div class="mt-4 grid grid-cols-3 gap-2">
            <div class="font-bold max-w-xs">Dag</div>
            <div class="font-bold max-w-xs">Aantal Verwachte Klanten</div>
            <div class="font-bold max-w-xs">Aantal Verwachte Collies</div>

            @if (ViewBag.DaysList != null)
            {
                int count = 0;
                foreach (var day in ViewBag.DaysList)
                {
                    <input name="prognosisEditDaysList[@count].Name" type="hidden" value="@day.Days_name" />
                    <div class="max-w-xs">@day.Days_name</div>
                    <div>
                        <input name="CustomerAmount[@count]" type="number" class="border rounded p-1 w-full" value="@day.CustomerAmount" />
                    </div>
                    <div>
                        <input name="PackagesAmount[@count]" type="number" class="border rounded p-1 w-full" value="@day.PackagesAmount" />
                    </div>
                    count++;
                }
            }
        </div>

        <div class="mt-4 flex justify-end space-x-2">
            <button type="submit" class="bg-blue-500 text-white border border-blue-700 rounded p-2 hover:bg-blue-600 transition">Opslaan</button>
            <button type="button" class="bg-red-500 text-white border border-red-700 rounded p-2 hover:bg-red-600 transition" onclick="window.location.href='/Prognosis/Delete/@Model.PrognosisId'">Verwijderen</button>
        </div>
    </form>
</div>
