@model bumbo.ViewModels.Prognosis.PrognosisEditViewModel
﻿
@{
    ViewData["Title"] = "Edit";
}

<div class="max-w-2xl mx-auto mt-10 p-6 rounded relative">
    <div class="mb-6 flex">
        <a href="/prognoses" style="margin-right: 25px">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <h1 class="text-3xl font-semibold">Prognose aanpassen</h1>
    </div>

    <div class="mt-4 mx-auto max-w-screen-lg">
        <div class="space-x-4 flex items-center">
            <div class="flex flex-grow flex-col">
                <label class="text-gray-700 block text-sm font-medium">Week</label>
                <input type="text" dis value="@Model.WeekNr" class="mt-1 p-2 border-gray-300 w-full rounded border" disabled />
            </div>
            <div class="flex flex-grow flex-col">
                <label class="text-gray-700 block text-sm font-medium">Jaar</label>
                <input type="text" value="@Model.Year" class="mt-1 p-2 border-gray-300 w-full rounded border" disabled />
            </div>
        </div>

    </div>
    @{
        if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
        {
            <toast-message toast-id="@TempData["ToastId"]"
                           message="@TempData["ToastMessage"]"
                           message-type="@TempData["ToastType"]">
            </toast-message>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    showToast('@TempData["ToastId"]', '@TempData["AutoHide"]', @TempData["MilSecHide"]);
                });
            </script>
        }
    }

    <form method="post" action="/Prognosis/Update">
        @Html.AntiForgeryToken()
        <fieldset>
            <div class="mt-4 mx-auto max-w-screen-lg">
                <div class="gap-2 grid grid-cols-3">
                    <div class="max-w-xs font-bold">Dag</div>
                    <div class="max-w-xs font-bold">Aantal Verwachte Klanten</div>
                    <div class="max-w-xs font-bold">Aantal Verwachte Collies</div>

                    <input name="PrognosisId" type="hidden" value="@Model.PrognosisId" />

                    @for (int i = 0; i < Model.Days_name.Count; i++)
                    {
                        <input type="hidden" name="Days[@i].Name" value="@Model.Days_name[i]" />
                        <div class="max-w-xs">@Model.Days_name[i]</div>

                        <div>
                            <input value="@Model.CustomerAmount[i]" name="CustomerAmount[@i]" type="number" class="p-1 w-full rounded border" required />
                        </div>

                        <div>
                            <input value="@Model.PackagesAmount[i]" name="PackagesAmount[@i]" type="number" class="p-1 w-full rounded border" required />
                        </div>
                    }
                </div>

                <div class="mt-4 space-x-2 flex justify-end">
                    <default-button button-text="Bewerken" button-type="primary submit"></default-button>
                </div>
            </div>
        </fieldset>
    </form>
</div>