@model bumbo.ViewModels.PrognosisViewModel

<div class="px-2 mx-auto flex max-w-4xl flex-col items-center">
    <h1 class="mt-8 text-2xl">Prognose</h1>
    <p class="mt-2">Maand: @ViewBag.MonthName</p>
    <p>Week loopt van @ViewBag.FirstDayOfWeek.ToString("dd MMMM yyyy") tot @ViewBag.LastDayOfWeek.ToString("dd MMMM yyyy")</p>
    <h2 class="weeknr">Week @Model.WeekNr - @Model.Year</h2>

    <!--zoekbalk-->
    <form id="weekForm" method="get" class="flex items-center space-x-4 mt-4 mb-4">
        <input type="number" id="weekInput" name="weekNumber" placeholder="Week" class="w-full border border-gray-300 rounded-full py-2 px-6 focus:outline-none focus:ring-2 focus:ring-yellow-400" />
        <input type="number" id="yearInput" name="year" placeholder="Jaar" class="w-full border border-gray-300 rounded-full py-2 px-6 focus:outline-none focus:ring-2 focus:ring-yellow-400" />
        <input type="hidden" id="weekIncInput" name="weekInc" value="1" />
        <button type="submit" class="bg-gray-200 text-gray-700 py-2 px-6 rounded-full hover:bg-gray-300">Zoeken</button>
    </form>

    <!--navigatie-->
    <div class="flex w-full items-center justify-between">
        <button onclick="window.location.href='@Url.Action("Index", new { weekNumber = Model.WeekNr, year = Model.Year, weekInc = -1 })';" class="bg-gray-600 hover:bg-gray-500 text-white font-semibold py-2 px-6 rounded-xl">
            Vorige week
        </button>

        @if (ViewBag.Message != null)
        {
            <div class="text-red-500">@ViewBag.Message</div>
        }

        <button onclick="window.location.href='@Url.Action("Index", new { weekNumber = Model.WeekNr, year = Model.Year, weekInc = 1 })';" class="bg-gray-600 hover:bg-gray-500 text-white font-semibold py-2 px-6 rounded-xl">
            Volgende week
        </button>
    </div>

    <!--informatie over de dagen zelf-->
    <div class="gap-4 mt-6 grid grid-cols-7">
        @foreach (var day in Model.Days)
        {
            <div class="day-column text-center">
                <p class="font-medium">@day.DayName</p>
                <p class="font-medium">@day.Date.ToString("dd MMMM")</p>
                <p class="font-medium">Totaal benodigde</p>
                <p class="font-medium">Uren: @day.TotalHoursWorkNeeded</p>
                <p class="font-medium">Medewerkers: @day.TotalWorkersNeeded</p>
                <ul>
                    @foreach (var dept in day.DepartmentList)
                    {
                        <li>
                            Afdeling: @dept.DepartmentName, Werknemers: @dept.AmountWorkersNeeded, Uren: @dept.HoursWorkNeeded
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    document.getElementById("weekForm").addEventListener("submit", function(event) {
        event.preventDefault();

        var week = parseInt(document.getElementById("weekInput").value);
        var year = document.getElementById("yearInput").value;

        if (!isNaN(week) && year) {
            week = week - 1;

            document.getElementById("weekInput").value = week;

            document.getElementById("weekIncInput").value = 1;

            this.submit();
        } else {
            alert("Vul alstublieft zowel een geldig week- als jaarnummer in.");
        }
    });
</script>