<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bumbo</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bumbo.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    @{
        if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
        {
            <toast-message toast-id="@TempData["ToastId"]"
                           message="@TempData["ToastMessage"]"
                           message-type="@TempData["ToastType"]">
            </toast-message>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    showToast('@TempData["ToastId"]', '@TempData["AutoHide"]', @TempData["MilSecHide"]);
                });
            </script>
        }
    }
    @if (ViewData["HideLayoutElements"] == null || !(bool)ViewData["HideLayoutElements"])
    {
        @await Component.InvokeAsync("NavBar")
    }
        <main role="main">
            @RenderBody()
        </main>
        <footer class="mt-[47px]">

        </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
