@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="min-h-24 max-h-24 bg-gray-100 p-4 px-12 flex items-center justify-between lg:px-24">
    <div class="flex items-center space-x-[30px] lg:space-x-[100px]">
        <a href="/">
            <div class="h-16 flex max-w-[80px] items-center justify-center">
                <img src="/media/bumbo-logo.png" alt="Logo" class="h-auto max-w-[80px]" />
            </div>
        </a>

        <div class="space-x-6 flex">
            @if (Model.IsBranchManager)
            {
                <div class="max-h-6 group relative">
                    <div class="flex">
                        <p>@Localizer["Prognosis"]</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 left-1 text-gray-500 relative top-[6px] transition-transform duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </div>
                    <ul class="group-hover:block bg-gray-100 left-[-12px] absolute top-full z-50 hidden">
                        <li class="p-3 pt-6 border-b-2"><a href="/prognoses" class="hover:text-gray-600">@Localizer["Prognoses"]</a></li>
                        <li class="p-3 border-b-2"><a href="/normeringen" class="hover:text-gray-600">@Localizer["Norms"]</a></li>
                        <li class="p-3 border-b-2"><a href="/standaard-templates" class="hover:text-gray-600">@Localizer["Templates"]</a></li>
                    </ul>
                </div>

                <div class="max-h-6 group relative hover:mr-1">
                    <div class="flex">
                        <p>@Localizer["Employees"]</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 left-1 text-gray-500 relative top-[6px] transition-transform duration-300" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </div>
                    <ul class="group-hover:block bg-gray-100 left-[-12px] absolute top-full z-50 hidden">
                        <li class="p-3 pt-6 border-b-2"><a href="/medewerkers" class="hover:text-gray-600">@Localizer["Employees"]</a></li>
                        <li class="p-3 border-b-2"><a href="/verzoeken" class="hover:text-gray-600">@Localizer["Requests"]</a></li>
                    </ul>
                </div>
                <a href="/roosterManager" class="hover:text-gray-600">@Localizer["Schedule"]</a>
            }

            @if (Model.IsSystemManager)
            {
                <a href="/filialen" class="hover:text-gray-600">@Localizer["Branches"]</a>
                <a asp-controller="LabourRules" asp-action="Index" class="hover:text-gray-600">@Localizer["LabourRules"]</a>
            }
        </div>
    </div>
    <div class="space-x-4 flex items-center">
        <!-- Language Toggle -->
        <div class="flex items-center space-x-2">
            <span class="text-sm">@Localizer["Dutch"]</span>
            <label class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" id="languageToggle" class="sr-only peer"
                @(CultureInfo.CurrentCulture.Name == "en-US" ? "checked" : "") onchange="toggleLanguage(this)" />
                <div class="w-11 h-6 bg-gray-200 rounded-full peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
            </label>
            <span class="text-sm">@Localizer["English"]</span>
        </div>

        @if (Model.IsAuthenticated)
        {
            <div class="text-right">
                <div class="text-gray-700">@Model.FirstName</div>
                @if (Model.IsBranchManager || Model.IsSystemManager)
                {
                    <div class="text-gray-500 text-sm">@Model.Email</div>
                }
                <a href="/uitloggen" class="text-sm hover:text-gray-600">@Localizer["Logout"]</a>
            </div>
        }
        else
        {
            <a href="/inloggen" class="text-sm hover:text-gray-600">@Localizer["Login"]</a>
        }
    </div>
</div>

<script>
    function toggleLanguage(element) {
        if (element.checked) {
            window.location.href = '?culture=en-US';
        } else {
            window.location.href = '?culture=nl-NL';
        }
    }
</script>
