@model AddNormViewModel

@{
    ViewData["Title"] = "Normering aanmaken";
    var ViewModel = (AddNormViewModel)ViewData["ViewModel"];
}

<div class="ml-60 mt-12">
    <div>
        <h1 class="text-4xl"><strong><a asp-controller="Norms" asp-action="Index"> < </a>Normering toevoegen</strong></h1>
    </div>
    <div class="mt-6 mb-6 ml-6 flex">
        <div class="mr-5 w-96 flex flex-col">
            <default-button button-text="Importeer normering van vorige week" button-type="secondary" on-click="window.location.href='/Norms/Create?lastWeek=true'"></default-button>
        </div>
    </div>
    <form asp-action="Insert" method="post">
        <div class="mt-6 ml-6 flex">
            <div class="mr-2 w-48 flex flex-col">
                <label for="year">Kies een jaar</label>
                <select class="bg-light text-sm-start p-2 rounded border-2 border-solid" id="year" name="@nameof(AddNormViewModel.Year)">
                    @{
                        for (int i = DateTime.Now.Year+1; i > DateTime.Now.Year-99; i--)
                        {
                            if (i == DateTime.Now.Year)
                            {
                                <option selected value="@i">@i</option>
                                continue;
                            }
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>
            <div class="mr-2 w-48 flex flex-col">
                <label for="week">Kies een week</label>
                <select class="bg-light text-sm-start p-2 rounded border-2 border-solid" id="week" name="@nameof(AddNormViewModel.Week)">
                    @{
                        for (int i = 1; i < 53; i++)
                        {
                            <option value="@i">Week @i</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="mt-6 ml-6 flex">
            <div class="mr-2 w-48 flex flex-col">
                <label for="unloadColis">Coli uitladen (min)</label>
                <input class="bg-light text-sm-start p-2 rounded border-2 border-solid" value="@ViewModel.UnloadColis" id="unloadColis" type="number" name="@nameof(AddNormViewModel.UnloadColis)" />
            </div>
            <div class="mr-2 w-48 flex flex-col">
                <label for="fillShelves">Vakken vullen (min/coli)</label>
                <input class="bg-light text-sm-start p-2 rounded border-2 border-solid" value="@ViewModel.FillShelves" id="fillShelves" type="number" name="@nameof(AddNormViewModel.FillShelves)" />
            </div>
        </div>
        <div class="mt-6 mb-6 ml-6 flex">
            <div class="mr-5 w-96 flex flex-col">
                <label for="cashier">Hoeveelheid kassiéres per 30 klanten per uur</label>
                <input class="bg-light text-sm-start p-2 rounded border-2 border-solid" value="@ViewModel.Cashier" id="cashier" type="number" name="@nameof(AddNormViewModel.Cashier)" />
            </div>
        </div>
        <div class="mt-6 mb-6 ml-6 flex">
            <div class="mr-5 w-96 flex flex-col">
                <label for="fresh">Hoeveelheid medewerkers per 100 klanten per uur</label>
                <input class="bg-light text-sm-start p-2 rounded border-2 border-solid" value="@ViewModel.Fresh" id="fresh" type="number" name="@nameof(AddNormViewModel.Fresh)" />
            </div>
        </div>
        <div class="mt-6 mb-6 ml-6 flex">
            <div class="mr-5 w-96 flex flex-col">
                <label for="fronting">Hoeveelheid seconden per meter spiegelen</label>
                <input class="bg-light text-sm-start p-2 rounded border-2 border-solid" value="@ViewModel.Fronting" id="fronting" type="number" name="@nameof(AddNormViewModel.Fronting)" />
            </div>
        </div>
        <div class="d-flex justify-content-end ml-72 mt-4">
            <default-button button-text="Aanmaken" button-type="primary" on-click=""></default-button>
        </div>
    </form>

    <default-button button-text="Succesvol toast (met Auto Hide)" on-click="showToast('toast-success', 'yes', 3000);" button-type="succes"></default-button>
    <toast-message toast-id="toast-success" message="Succesvol iets gedaan" message-type="success"></toast-message>

    <default-button button-text="Error toast (zonder Auto Hide)" on-click="showToast('toast-error', 'no', 0);" button-type="delete"></default-button>
    <toast-message toast-id="toast-error" message="Er is een fout opgetreden!" message-type="error"></toast-message>
</div>