@{
    ViewData["Title"] = "Normeringen";
}

<div>
    @Html.Raw(ViewBag.HtmlTable)
    @{
        if (TempData["ToastMessage"] != null && TempData["ToastType"] != null)
        {
            <toast-message toast-id="@TempData["ToastId"]"
                           message="@TempData["ToastMessage"]"
                           message-type="@TempData["ToastType"]">
            </toast-message>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    showToast('@TempData["ToastId"]', '@TempData["AutoHide"]', @TempData["MilSecHide"]);
                });
            </script>
        }
    }
</div>