@model bumbo.ViewModels.LabourRulesGroupViewModel
@{
    ViewData["Title"] = "LabourRules";
}
<script src="https://kit.fontawesome.com/4bcfd58de5.js" crossorigin="anonymous"></script>
<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">
            CAO - regels Nederland
        </h1>
    </div>
    <div class="flex space-x-2 mb-4">
        @foreach(var country in Model.Countries.OrderByDescending(c => c == Model.ActiveCountry))
        {
            <a asp-action="Index" asp-route-ActiveCountry="@country" class="@(country == Model.ActiveCountry ? "bg-gray-800 text-white" : "bg-gray-300 text-gray-800") px-4 py-2 rounded flex items-center space-x-2 active:bg-gray-800">
                <span>
                    @country
                </span>
            </a>
        }
    </div>
    @if (Model.LabourRules.Any())
    {
        int i = 1;
        <h2 class="text-xl font-semibold mb-2">
            Leeftijd gebonden
        </h2>
       
        @foreach (var rule in Model.LabourRules)
        {
            <div class="flex">
            <h3 class="mx-4">
                @i.
            </h3>
            <div class="grid grid-cols-8 gap-4 mb-8">
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.AgeGroup
                        </div>
                        <div>
                            Leeftijdgroep
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MaxHoursPerDay
                        </div>
                        <div>
                            Max. uren per dag
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MaxHoursPerDay
                        </div>
                        <div>
                            Max. uren per dag
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MaxEndTime
                        </div>
                        <div>
                            Max. eindtijd
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MaxHoursPerWeek
                        </div>
                        <div>
                            Max. uren per week
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MaxWorkDaysPerWeek
                        </div>
                        <div>
                            Max. werkdagen per week
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MinRestDaysPerWeek
                        </div>
                        <div>
                            Min. rustdagen per week
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MinutesOfBreak
                        </div>
                        <div>
                            Min. pauze per <b>@rule.NumHoursWorkedBeforeBreak</b> werken
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.SickPayPercentage
                        </div>
                        <div>
                            % loon bij ziekte
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.OvertimePayPercentage
                        </div>
                        <div>
                            % loon bij overuren
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MaxHoursWithSchool
                        </div>
                        <div>
                            Max. uren met schooluren
                        </div>
                    </div>
                    <div class="bg-white p-4 text-center border-solid border-2 border-gray-100 rounded-xl">
                        <div class="text-2xl font-bold">
                            @rule.MinRestHoursBetweenShifts
                        </div>
                        <div>
                            Min. rust uren tussen shifts
                        </div>
                    </div>
                    <div class="flex items-center">
                        <a asp-action="Edit" asp-route-countryName="@Model.ActiveCountry" asp-route-ageGroup="@rule.AgeGroup"
                           class="text-gray-400">
                            <i class="fa-regular fa-pen-to-square text-2xl"></i>
                        </a>
                    </div>
            </div>
            
            </div>
            i++;
        }
        
    }
</div>
