@model bumbo.ViewModels.LabourRulesGroupViewModel
@{
    ViewData["Title"] = "LabourRules";
}
<div class="container mx-auto p-4">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">
            CAO - regels Nederland
        </h1>
        <button class="bg-gray-700 text-white px-4 py-2 rounded">
            Bewerken
        </button>
    </div>
    <div class="flex space-x-2 mb-4">
        @foreach(var country in Model.Countries)
        {
            <a asp-action="Index" asp-route-ActiveCountry="@country" class="@(country == Model.ActiveCountry ? "bg-gray-800 text-white" : "bg-gray-300 text-gray-800") px-4 py-2 rounded flex items-center space-x-2 active:bg-gray-800">
                <span>
                    @country
                </span>
            </a>
        }
    </div>
    @if (Model.LabourRules.Any())
    {
        int i = 1;
        <h2 class="text-xl font-semibold mb-2">
            Leeftijd gebonden
        </h2>
       
        @foreach (var rule in Model.LabourRules)
        {
            <div class="flex">
            <h3 class="mx-4">
                @i.
            </h3>
            <div class="grid grid-cols-6 gap-4 mb-8">
                
            @foreach (var property in rule.GetType().GetProperties())
            {
                    var value = property.GetValue(rule);
                    <div class="bg-white p-4 rounded shadow text-center">
                        <div class="text-2xl font-bold">
                            @value
                        </div>
                        <div>
                            @property.Name
                        </div>
                    </div>
            }
                    <a asp-action="Edit" asp-route-countryName="@Model.ActiveCountry" asp-route-ageGroup="@rule.AgeGroup" class="bg-gray-700 text-white px-4 py-2 rounded">
                        Bewerken
                    </a>
            </div>
            
            </div>
            i++;
        }
        
    }
</div>
