@model bumbo.ViewModels.CreateSwapShiftViewModel

<div class="p-4">
    <h1 class="mb-4 text-2xl font-bold">Beschikbare Diensten</h1>

    <div class="gap-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        @foreach (var schedule in Model.Schedules)
        {
            <div class="bg-white p-4 rounded-lg shadow-md">
                <div class="mb-2">
                    <p class="text-gray-500 text-sm">Datum</p>
                    <p class="text-lg font-semibold">@schedule.Date</p>
                </div>
                <div class="mb-2">
                    <p class="text-gray-500 text-sm">Tijd</p>
                    <p class="text-lg font-semibold">@schedule.StartTime - @schedule.EndTime</p>
                </div>
                <div class="mb-2">
                    <p class="text-gray-500 text-sm">Afdeling</p>
                    <p class="text-lg font-semibold">@schedule.DepartmentName</p>
                </div>
                @if (schedule.HasAvailableEmployees)
                {
                    <form method="post" action="/ShiftSwap/ChooseEmployee">
                        <input type="hidden" name="employeeId" value="@Model.EmployeeId" />
                        <input type="hidden" name="branchId" value="@Model.BranchId" />
                        <input type="hidden" name="date" value="@schedule.Date.ToDateTime(TimeOnly.MinValue)" />
                        <button type="submit" class="bg-gray-800 text-white px-4 py-2 w-full rounded-lg hover:bg-gray-700">
                            Selecteren
                        </button>
                    </form>
                } else
                {
                    <p class="border-black px-4 py-2 w-full rounded-lg border text-center">Geen beschikbare mederkers</p>
                }

            </div>
        }
    </div>
</div>
