@model ScheduleManagerAddEmployeeViewModel

@{
    ViewData["Title"] = "AddEmployee";
}

<div class="mt-10 p-6 relative mx-auto max-w-5xl rounded">
    <div class="gap-10 grid grid-cols-3">
        <div class="col-span-2">
            <div class="mb-6 flex">
                <a href="/roosterManager" style="margin-right: 25px">
                    <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </a>
                <h1 class="text-3xl font-semibold">@Model.EmployeeName - toevoegen</h1>
            </div>
            <div>
                <!-- Duidelijke weergave van de beschikbare tijd -->
                <div class="bg-blue-100 border-blue-500 border-l-4 p-4 mb-6 rounded-lg">
                    <p class="text-lg font-bold text-blue-700">
                        Beschikbare tijd: @Model.EmployeeAvailableStartTime - @Model.EmployeeAvailableEndTime
                    </p>
                    <p class="text-base text-blue-600">
                        Nog mogelijk in te plannen uren: @Model.EmployeeLabourRulesOrAvailabilityAvailableTime
                    </p>
                </div>

                <form method="post" asp-action="AddEmployee" id="addEmployee" class="mt-5">
                    <input type="hidden" asp-for="@Model.Date" />
                    <input type="hidden" asp-for="@Model.EmployeeId" />

                    <label class="font-bold">Afdeling:</label>
                    <select asp-for="@Model.DepartmentName"
                            asp-items="@(new SelectList(Model.DaySchedule.Departments, "DepartmentName", "DepartmentName"))"
                            class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full rounded border leading-tight">
                    </select>
                    <span asp-validation-for="DepartmentName" class="text-red-600 text-sm"></span>
                    <div class="mt-5 gap-4 grid grid-cols-2">
                        <div class="col-span-1">
                            <p class="font-bold">Begintijd:</p>
                            <input type="time"
                                   asp-for="@Model.StartTime"
                                   class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                            <span asp-validation-for="StartTime" class="text-red-600 text-sm"></span>
                        </div>
                        <div class="col-span-1">
                            <p class="font-bold">Eindtijd:</p>
                            <input type="time"
                                   asp-for="@Model.EndTime"
                                   class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                            <span asp-validation-for="EndTime" class="text-red-600 text-sm"></span>
                        </div>
                    </div>
                </form>
                <div class="mt-6 flex justify-end">
                    <default-button button-text="Toevoegen" button-type="primary" on-click="document.getElementById('addEmployee').submit();"></default-button>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div>
                <div class="bg-gray-50 border-gray-200 p-4 rounded-lg border shadow-sm">
                    <div class="mb-4 flex items-center justify-between">
                        <div>
                            <h2 class="text-lg font-medium">@Model.DaySchedule.Date.ToString("dddd")</h2>
                            <p class="text-gray-600">@Model.DaySchedule.Date.ToString("dd MMMM yyyy")</p>
                        </div>
                    </div>
                    <div class="mt-4">
                        @foreach (var department in @Model.DaySchedule.Departments)
                        {
                            <div class="mt-4">
                                <h3 class="text-md font-semibold">@department.DepartmentName</h3>
                                <p class="text-sm">
                                    Totale uren ingepland: @department.TotalHours.ToString("F1")<br>
                                    Benodigde uren: @department.HoursNeeded.ToString()
                                </p>

                                @if (department.Employees.Any())
                                {
                                    <ul class="mt-2 space-y-1">
                                        @foreach (var employee in department.Employees)
                                        {
                                            @if (employee.IsGap)
                                            {
                                                <li class="bg-red-100 border-red-500 p-1 flex items-center justify-between rounded border text-sm">
                                                    <span>@employee.EmployeeName</span>
                                                    <span>@employee.StartTime.ToString("HH\\:mm") - @employee.EndTime.ToString("HH\\:mm")</span>
                                                </li>
                                            }
                                            else if (employee.IsSick)
                                            {
                                                <li class="text-red-500 flex items-center justify-between text-sm font-semibold">
                                                    <span>@employee.EmployeeName (Ziek)</span>
                                                    <span>@employee.StartTime.ToString("HH\\:mm") - @employee.EndTime.ToString("HH\\:mm")</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="flex items-center justify-between text-sm">
                                                    <span>@employee.EmployeeName</span>
                                                    <span>@employee.StartTime.ToString("HH\\:mm") - @employee.EndTime.ToString("HH\\:mm")</span>
                                                </li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p class="text-gray-500 text-sm">Geen medewerkers ingepland</p>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
