@model bumbo.ViewModels.AddSchoolScheduleViewModel

<div class="max-w-4xl mx-auto mt-10 p-6 rounded relative bg-white">
    <div class="mb-6 flex justify-between items-center">
        <h1 class="text-2xl font-semibold">Schoolrooster toevoegen</h1>
    </div>

    <form asp-action="AddSchoolSchedule" method="post" class="space-y-6">
        <div>
            <h2 class="text-lg font-medium mb-4">Periode</h2>
            <div class="grid grid-cols-2 gap-6">
                <div>
                    <label for="StartWeek" class="block text-sm font-medium text-gray-700">Start week</label>
                    <input asp-for="StartWeek" type="number" min="1" max="52" placeholder="Bijv. 24"
                           class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                    <span asp-validation-for="StartWeek" class="text-sm text-red-600"></span>
                </div>
                <div>
                    <label for="StartYear" class="block text-sm font-medium text-gray-700">Start jaar</label>
                    <input asp-for="StartYear" type="number" placeholder="Bijv. 2024"
                           class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                    <span asp-validation-for="StartYear" class="text-sm text-red-600"></span>
                </div>

                <div>
                    <label for="EndWeek" class="block text-sm font-medium text-gray-700">Eind week</label>
                    <input asp-for="EndWeek" type="number" min="1" max="52" placeholder="Bijv. 26"
                           class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                    <span asp-validation-for="EndWeek" class="text-sm text-red-600"></span>
                </div>
                <div>
                    <label for="EndYear" class="block text-sm font-medium text-gray-700">Eind jaar</label>
                    <input asp-for="EndYear" type="number" placeholder="Bijv. 2024"
                           class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                    <span asp-validation-for="EndYear" class="text-sm text-red-600"></span>
                </div>
            </div>
        </div>

        <div>
            <h2 class="text-lg font-medium mb-4">Dagen en werktijden</h2>
            <div class="grid grid-cols-1 gap-4">
                @for (int i = 0; i < Model.Days.Count; i++)
                {
                    <div class="grid grid-cols-5 gap-6 items-center">
                        <div>
                            <label class="block text-sm font-medium text-gray-700">@Model.Days[i].DayName</label>
                        </div>
                        <div>
                            <label asp-for="@Model.Days[i].StartHour" class="block text-sm font-medium text-gray-700">Startuur</label>
                            <input asp-for="@Model.Days[i].StartHour" type="number" min="0" max="23"
                                   class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                            <span asp-validation-for="@Model.Days[i].StartHour" class="text-sm text-red-600"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Days[i].StartMinute" class="block text-sm font-medium text-gray-700">Startminuten</label>
                            <input asp-for="@Model.Days[i].StartMinute" type="number" min="0" max="59"
                                   class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                            <span asp-validation-for="@Model.Days[i].StartMinute" class="text-sm text-red-600"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Days[i].EndHour" class="block text-sm font-medium text-gray-700">Einduur</label>
                            <input asp-for="@Model.Days[i].EndHour" type="number" min="0" max="23"
                                   class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                            <span asp-validation-for="@Model.Days[i].EndHour" class="text-sm text-red-600"></span>
                        </div>
                        <div>
                            <label asp-for="@Model.Days[i].EndMinute" class="block text-sm font-medium text-gray-700">Eindminuten</label>
                            <input asp-for="@Model.Days[i].EndMinute" type="number" min="0" max="59"
                                   class="bg-gray-200 border-gray-400 py-2 px-3 text-gray-700 w-full appearance-none rounded border leading-tight" />
                            <span asp-validation-for="@Model.Days[i].EndMinute" class="text-sm text-red-600"></span>
                        </div>
                    </div>
                }

            </div>
        </div>

        <!-- Opslaan knop -->
        <div class="flex justify-end mt-6">
            <default-button button-text="Opslaan" button-type="primary" typeof="submit"></default-button>
        </div>
    </form>
</div>
