@model bumbo.ViewModels.WeekOverviewViewModel

<div class="container">
    <h1>Terugblik</h1>
    <h2>Week @Model.WeekNr - @Model.Year</h2>

    <div class="week-overview">
        <a href="@Url.Action("Index", new { weekNumber = Model.WeekNr - 1, year = Model.Year })">Vorige week    </a>

        @if (ViewBag.Message != null)
        {
            <div class ="message">@ViewBag.Message</div>
        }
        else
        {
            @foreach (var day in Model.Days)
            {
                <div class="day-column">
                    <p>@day.DayName</p>
                    <p>Aantal klanten</p>
                    <div class="data-box">@day.CustomerAmount</div>
                    <p>Aantal coli's</p>
                    <div class="data-box">@day.PackagesAmount</div>
                </div>
            }
        }
        <a href="@Url.Action("Index", new { weekNumber = Model.WeekNr + 1, year = Model.Year })">   Volgende week</a>
    </div>
</div>

<style>
    .container {
        text-align: center;
        font-family: Arial, sans-serif;
    }

    .week-overview {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .day-column {
        margin: 0 10px;
        text-align: center;
    }

    .data-box {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
        width: 50px;
        margin: 5px auto;
    }

    .arrow-btn {
        background-color: transparent;
        border: none;
        font-size: 24px;
        cursor: pointer;
    }

    .message{
        margin-left: 50px;
        margin-right: 50px;
    }
</style>
