@using DataLayer.Models
@{

}

@model RequestsReadViewModel

<div class="mx-24 mt-12 mx-auto max-w-2xl">
    <div class="mb-12 flex">
        <a href="/aanvragen" class="mr-6">
            <svg width="19" height="38" viewBox="0 0 19 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.2502 35.5L3.66687 21.9167C2.0627 20.3125 2.0627 17.6875 3.66687 16.0833L17.2502 2.5" stroke="black" stroke-width="3.125" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
        <h1 class="text-3xl font-semibold">Aanvraag 0</h1> <!-- [apenstaartje]Model.Request.RequestId -->
    </div>
    <div class="mx-12">
        <div class="mb-6">
            <p class="font-semibold">Naam aanvrager</p>
            <p>@Model.Employee.FirstName @Model.Employee.MiddleName @Model.Employee.LastName</p>
        </div class="mb-6">
        <div class="mb-6">
            <p class="font-semibold">Omschrijving</p>
            <p>@Model.Request.Description</p>
        </div>
        <div class="mb-6">
            <p class="font-semibold">Status</p>
            <p>@Model.Request.RequestStatusName</p>
        </div>
        <div class="mb-6">
            <p class="font-semibold">Type aanvraag</p>
            <p>@Model.Request.RequestTypeName</p>
        </div>
    </div>

    <div class="mt-10 gap-4 flex w-11/12 justify-end">
        <default-button button-text="Weigeren" button-type="delete"></default-button>
        <default-button button-text="Accepteren" button-type="succes"></default-button>
    </div>

    <!-- Extra -->
    <div class="h-20"></div>

</div>